{% extends 'geekshop\base.html' %}
{% load static %}


{% block content %}
<div class="" style="padding-left: 100px; padding-right: 210px; position: relative;">
    {% include 'includes/inc_main_menu.html' %}
    {% if user.is_authenticated %}
    <div class="container">
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Продукт</th>
                        <th scope="col">Количество</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in basket %}
                        <tr>
                            <th scope="col">{{ forloop.counter }}</th>
                            <td scope="col">{{ item.product }}</td>
                            <td scope="col">{{ item.quantity }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% endif %}
</div>
{% endblock %}